.dropdown-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
  }
  
  .dropdown-open {
    max-height: 200px; 
  }
  
  .dropdown-closed {
    max-height: 0;
  }