@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
}

.customBtn1 {
  background: #a100ff;
  border-radius: 5px;
  padding: 10px 35px;
  color: white;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #a100ff;
  transition: 1s;
  position: relative;
  transition: ease-in;
  cursor: pointer;
}

.customBtn1:hover,
.customBtn1:active {
  color: white;
}

.customBtn1:after {
  content: "";
  position: absolute;
  transition: all 0.5s;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  color: white;
  z-index: 0;
}

.customBtn1:hover:after {
  width: 100%;
  background: #0000005b;
}
.customBtn2 {
  background: #a100ff;
  padding: 2px 5px;
  color: white;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #a100ff;
  transition: 1s;
  position: relative;
  transition: ease-in;
}

.customBtn2:hover,
.customBtn2:active {
  color: white;
}

.customBtn2:after {
  content: "";
  position: absolute;
  transition: all 0.5s;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  color: white;
  z-index: 0;
}

.customBtn2:hover:after {
  width: 100%;
  background: #0000005b;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: white;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.customDiv1 {
  width: 100%;
  height: 550px;
  background-color: #202020;
  color: white;
  transition: 0.1s ease-in-out;
  position: absolute;
}

.customDiv2 {
  width: 100%;
  height: 0px;
  transition: 0.2s ease-in-out;
  overflow: hidden;
}
.customDiv3 {
  width: 100%;
  height: 400px;
  background-color: #202020;
  color: white;
  transition: 0.1s ease-in-out;
  position: absolute;
}

.customDiv4 {
  width: 100%;
  height: 0px;
  transition: 0.2s ease-in-out;
  overflow: hidden;
}
.customDiv5 {
  width: 100%;
  height: 190px;
  background-color: #202020;
  color: white;
  transition: 0.1s ease-in-out;
  position: absolute;
}

.customDiv6 {
  width: 100%;
  height: 0px;
  transition: 0.2s ease-in-out;
  overflow: hidden;
}
.customDiv7 {
  width: 100%;
  height: 355px;
  background-color: #202020;
  color: white;
  transition: 0.1s ease-in-out;
  position: absolute;
  overflow: scroll;
}

.customDiv8 {
  width: 100%;
  height: 0px;
  transition: 0.2s ease-in-out;
  overflow: hidden;
}

.customDiv9 {
  width: 89.5%;
  height: 500px;
  padding: 20px 0px;
  background-color: #000000;
  color: white;
  transition: 0.3s ease-in-out;
  position: absolute;
  z-index: 99;
}

.customDiv10 {
  width: 89.5%;
  height: 0px;
  transition: 0.6s ease-in-out;
  overflow: hidden;
}

.rotated-v {
  display: inline-block;
  transform: rotate(270deg);
}

.AnimateDiv {
  width: 350px;
  height: 440px;
  object-fit: cover;
  position: relative;
  transition: 0.5s ease-in-out;
  overflow: hidden;
}
.AnimateDivContent {
  background-color: black;
  background: rgba(0, 0, 0, 0.95);
  color: white;
  position: absolute;
  top: 0%;
  left: 100%;
  width: 350px;
  height: 370px;
  box-sizing: border-box;
  padding: 20px;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}
.AnimateDivButton {
  background-color: black;
  background: rgba(0, 0, 0, 0.95);
  color: white;
  position: absolute;
  bottom: -15%;
  width: 350px;
  height: 70px;
  box-sizing: border-box;
  padding: 20px;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.AnimateDiv:hover .AnimateDivContent {
  left: 0;
}
.AnimateDiv:hover .AnimateDivButton {
  bottom: 0%;
}

.customPhoto1 {
  width: 100%;
  height: 500px;
  object-fit: cover;
  overflow: hidden;
}
.backgroundImg1 {
  background-image: url(./assets/photos/grobal.png);
  background-repeat: no-repeat;
  width: 100%;
  background-size: auto;
  background-position: center;
  background-attachment: fixed;
}
.customGlobalDiv1 {
  width: 100;
  height: 300px;
  object-fit: cover;
  overflow: hidden;
  box-sizing: border-box;
}

.customGlobalDiv2 {
  transition: all .5s ease-in;
  overflow: hidden;
}

.customGlobalDiv2 .div1 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  transition: all .5s ease-in;
}

.customGlobalDiv2 .div2 {
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  transition: all .5s ease-in;
}

.customGlobalDiv2:hover .div1 {
  bottom: 100%;
}

.customGlobalDiv2:hover .div2 {
  bottom: 0;
}

.container {
  position: relative;
  margin-top: 50vh;
}

#expand {
  background: rgb(33, 158, 189);
  height: 100vh;
  min-width: 20%;
  min-height: 400px;
  top: 0;
  will-change: width;
}

#show {
  width: 100%;
  background: red;
  height: 100vh;
}
